<!-- \file : footer.html -->
<!-- \brief footer -->
<!-- \author {Théo D. & Jeremy B.} -->
<!-- \version 1 -->

    <!-- jQuery -->
    <script src="../js/jquery.min.js"></script>
    
    <!-- Bootstrap Core JavaScript -->
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/bootstrap-notify.js"></script>
    <script src="../js/jquery-confirm.js"></script>
    
    <!-- Custom JS -->
    <script src="../js/index.js"></script>
    <script src="../js/utils.js"></script>
</body>

</html>